@font-face{

font-family: Devroye;
src: url('../fonts/devroye/devroye.woff') format('woff');

}

pre{
	font-family: Devroye;
	font-style: italic;
	font-size: 40px;
	color:white;
	background: transparent;
	border:none;
}
.quot{
	margin:680px 500px 20px 20px;
}
html { overflow:  hidden; }
.logo{
	left:145px;
	top:50px;
	width:100%;
	position: absolute;
	z-index: 10;
}
.main-menu{
	left:100px;
	top: 250px;
	position:absolute;
	z-index: 10;


}

input[type=submit]{
    font-family: 'Devroye';
}

a{
	font-size: 30px;
	color:white;
	font-family:Devroye;
	text-decoration:none;
}
li{
	-webkit-transition: background 0.5s ease;
	-moz-transition: background 0.5s ease;
	transition: background 0.5s ease;
	width:250px;
	padding:15px 15px;
	list-style: none;
}
.main-menu>ul>li:hover{
	background-color: white;

}
li:hover a{
	font-weight: bold;
	color:black;
	text-decoration: none;
}

li:hover {
	cursor: pointer;
}
.auetinf{
	position: absolute;
	z-index: 10;
	top:50px;
	right:50px;

}
.auetinf a{color:white;font-family:Devroye;padding:15px;}
button:hover{
	background-color:white;
}
button:hover a{
	color:black;
	text-decoration: none;
}
button{
	-webkit-transition: background 0.5s ease;
	-moz-transition: background 0.5s ease;
	transition: background 0.5s ease;
	background: transparent;
	border:3px solid white;
}
.login{
	background:transparent;
	top:130px;
	right:50px;
	position:absolute;
	z-index: 10;
	border:3px solid white;
	padding:40px;
	background: rgba(0,0,0,0.5);
	display: none;

	}
.register{
	top:242px;
	right:93px;
	position: absolute;
	z-index: 10;
	background: transparent;
	display: none;

}

label{color: white;font-size: 21px;}
input{
	margin-bottom: 5px;
}
