<!DOCTYPE html>
{% load staticfiles %}
<html lang="ru">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Archivo+Black" rel="stylesheet">
    <link rel="stylesheet" href="../static/styles/style.css">
	<link rel="stylesheet" href="../static/styles/lk_style.css">
	<link rel="shortcut icon" href="../static/img/logo-black.jpg">
	<link rel="stylesheet" href="../static/styles/style_detail.css">
	<link rel="stylesheet" href="../static/styles/style_index.css">

	        <!-- Plugin CSS -->
    <link type="text/css" href="../static/styles/OverlayScrollbars.css" rel="stylesheet"/>
        <!-- Plugin JS -->
    <script type="text/javascript" src="../static/js/OverlayScrollbars.js"></script>
<!-- 	<link href="styles/less/styles.less" type="text/css" rel="stylesheet/less"/>
	<script src="styles/less/less.js" type="text/javascript"></script> -->
	<title>Cook`n`go</title>
</head>
<body>
	<header class = "head_margin">
		<div class="navandlogo">
			<div class = "logo"><a href="../"><img src="../static/img/logo.jpg" alt="logo"></a></div>
		<nav>
			<ul class="nav">
           		<li class = "menu 1n"><a href="../">Рецепты</a>
        		</li>

            	<li class = "menu 2n"><a href="#">В мире кулинарии</a>
					<ul>
				   		<li><a href="#">Уроки</a></li>
				   		<li><a href="#">Кулинарные шоу</a></li>
				   		<li><a href="#">Еще</a></li>
					</ul>
			 	</li>
				<!--
             	<li class = "menu"><a href="#">Мастер-классы</a></li>
             	<li class = "menu 3n"><a href="#">О еде</a>
                <ul>
				   		<li><a href="#">Здоровье</a></li>
				   		<li><a href="#">Диеты</a></li>
				   		<li><a href="#">Еще</a></li>
				</ul>
        		</li>
        		-->
            </ul>
        <nav>
		</div>
		<div class="auth-block">
			<div class="auth">
			<div id="sb-search" class="sb-search">
		    	<form>
			        <input class="sb-search-input" placeholder="Поиск..." type="search" value="" name="search" id="search">
			        <input class="sb-search-submit" type="submit" value="">
			        <span class="sb-icon-search"><img src="../static/img/search.png" alt=""></span>
		    	</form>
			</div>
			<input type="button" class="add_recipe" value="Добавить рецепт" onclick="location.href={% url 'create' %}" />
			<a class="add_recipe_plus" href={% url 'create'  %}><img src="../static/img/add.png" alt=""></a>
			<div class="profile_top">
                {% if not request.user.is_authenticated %}
                    <input type="button" class="add_recipe secondversion" value="Вход / Регистрация" onclick="location.href='accounts/login/'" />
                {% else %}
                    <div class="authorized">
                        <span>Здравствуйте, {{request.user.username }}</span>
                        <input type="button" class="add_recipe lk" value="ЛК" onclick="location.href='../userpage/{{ request.user.id }}'" />
                        <a href={% url 'logout' %}><img src="../static/img/exit.png" alt="Выход"></a>

                    </div>
                {% endif %}
			</div>

		</div>
		</div>
	</header>
    {% block content %}
    {% endblock %}
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script  src="../static/js/script.js"></script>
	<script src="../static/js/classie.js"></script>
	<script src="../static/js/uisearch.js"></script>
	<script>
		new UISearch( document.getElementById( 'sb-search' ) );
	</script>
</body>

</html>