{% extends "recipes/base1.html" %}
{% block content %}
<main class="container">
<h1 >{{ title }}</h1>
    <p class="descrip">{{ obj.description }}</p>
    <div class="main">
        {%if obj.image %}
        <div class="img_d"><img class="img_detail" src="{{ MEDIA_URL }}{{ obj.image.url }}"></div>
        {% endif %}
        <div class="recipe_info2">
            <div>
                <h4 class="info_name2">Кухня: </h4>
                <h5 class="info_value2">{{ obj.kitchen }}</h5>
            </div>
            <div>
                <h4 class="info_name2">Категория :</h4>
                <h5 class="info_value2">{{ obj.category }}</h5>
            </div>
            <div>
                <h4 class="info_name2">Меню</h4>
                <h5 class="info_value2">{{ obj.menu }}</h5>
            </div>
            <div>
                <h4 class="info_name2">Дата добавления</h4>
                <h5 class="info_value2">{{ obj.date }}</h5>
            </div>
        </div>
        <div class="recipe_info2">
            <div>
                <h4 class="info_name2">Автор:</h4>
                <h5 class="info_value2">{{ obj.user }}</h5>
            </div>
            <div>
                <h4 class="info_name2">Время готовки</h4>
                <h5 class="info_value2">{{ obj.time }} минут</h5>
            </div>
            <div>
                <h4 class="info_name2">Количество просмотров</h4>
                <h5 class="info_value2">{{ obj.views }}</h5>
            </div>
            <div>
                <h4 class="info_name2">Сложность</h4>
                <h5 class="info_value2">{{ obj.diff}}</h5>
            </div>
            <div/>
        </div>
    </div>


</main>
    <div class="edit container">
        {% if request.user == obj.user %}

     <a href='{% url 'edit' obj.id %}'>Редактировать</a>

     <a class="delete_recipe" href='{% url 'delete' obj.id %}'>Удалить</a>

     {% endif %}
     <a href='{% url 'home' %}'>В главное меню</a>
    </div>
{% endblock %}