{% extends "recipes/base1.html" %}
{% load crispy_forms_tags %}
{% block content %}
<main class="container">
    <form action='' method="POST" , enctype="multipart/form-data">
        {% csrf_token %}
        <div class="fieldWrapper">
            {{ form.title.errors }}
            <label for="{{ form.title.label }}">Название рецепта:</label>
            {{ form.title }}
        </div>
        <div class="fieldWrapper">
            {{ form.description.errors }}
            <label for="{{ form.description.id_for_label }}">Описание рецепта:</label>
            {{ form.description }}
        </div>
        <div class="fieldWrapper">
            {{ form.image.errors }}
            <label for="{{ form.image.id_for_label }}">Фото:</label>
            {{ form.image }}
        </div>
        <div class="fieldWrapper">
            {{ form.diff.errors }}
            <label for="{{ form.diff.id_for_label }}">Сложность рецепта:</label>
            {{ form.diff }}
        </div>
        <div class="fieldWrapper">
            {{ form.kitchen.errors }}
            <label for="{{ form.kitchen.id_for_label }}">Кухня:</label>
            {{ form.kitchen }}
        </div>
        <div class="fieldWrapper">
            {{ form.category.errors }}
            <label for="{{ form.category.id_for_label }}">Категория:</label>
            {{ form.category }}
        </div>
        <div class="fieldWrapper">
            {{ form.menu.errors }}
            <label for="{{ form.menu.id_for_label }}">Меню:</label>
            {{ form.menu }}
        </div>
        <div class="fieldWrapper">
            {{ form.time.errors }}
            <label for="{{ form.time.id_for_label }}">Время приготовления:</label>
            {{ form.time }}
        </div>
        <div class="fieldWrapper">
            {{ form.cal.errors }}
            <label for="{{ form.cal.id_for_label }}">Калорийность:</label>
            {{ form.cal }}
        </div>
        <input type='submit' value='Добавить рецепт'>
    </form>
</main>        
{% endblock %}
