<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>{{ title }}</h1>
{{ obj.description }}<br>


<p><img src="{{ MEDIA_URL }}{{ obj.image.url }}"</p> <br> <br>

{{ obj.diff}}<br>
{{ obj.kitchen }}<br>
{{ obj.category }}<br>
{{ obj.menu }}<br>
{{ obj.time }}<br>
{{ obj.cal }}<br>
{{ obj.date }}<br>
{{ obj.user }}<br>
{{ obj.updated }}<br>

<a href='{% url 'edit' obj.id %}'>Редактировать</a>

<a href='{% url 'delete' obj.id %}'>Удалить</a>

<a href='{% url 'home' %}'>В главное меню</a>






</body>
</html>
