{% extends 'recipes/base_login.html' %}
{% block content %}
{% block login %}
    <div class="container">
    <div class="login">
    <h1>Вход и регистрация</h1>
        <form action="/accounts/login/" method="post">
            {% csrf_token %}
            <label for = "username">Логин:  </label>
            <input type = "text", name = 'username' id = 'username'><br>
            <label for = "password">Пароль:</label>
            <input type = "password", name = 'password' id = 'password'><br>
        <div class="loginregistr">
            <input class = "button add_recipe" type = "submit" value = "Войти">
            <input class = "button add_recipe" type = "button" onclick="location.href='../registration'" value = "Регистрация">
        </div>

            {% if login_errors %}
                <label class = "error">{{ login_errors }}</label>
            {% endif %}
        </form>
    </div>

    </div>

{% endblock %}
{% endblock %}