{% extends 'recipes/base1.html' %}
{% block content %}
<main class="container">
    <div class="person">
    <h2 class="h2_userpage">Логин: {{ obj.username }}</h2>
        <h3 class="h3_userpage">Последняя авторизация: {{ obj.last_login }}</h3><br>
    </div>
    <h2 class="h2_userpage" style="font-size: 45px;">Мои рецепты:</h2>
 <div class="recipes_hidden">
            {% for recipe in recipes_list %}
                 <a href={% url 'detail' recipe.id %}>
                <div class="recipe_block">
                    {% if recipe.image %}
                        <img src="{{ MEDIA_URL }}{{ recipe.image.url }}">
                    {% endif %}
                    <h2>{{ recipe.title }}</h2>
                    <p class="description">{{ recipe.description }}</p>
                    <div class="recipe_info1">
                        <div>
                            <h4 class="info_name">ВреMя</h4>
                            <h5 class="info_value">{{ recipe.time }}<br> минут</h5>
                        </div>
                        <div>
                            <h4 class="info_name">Сложность</h4>
                            <h5 class="info_value">{{ recipe.diff }}</h5>
                        </div>
                        <div>
                            <h4 class="info_name">Калории</h4>
                            <h5 class="info_value">{{ recipe.cal }} ккал<br>100 грамм</h5>
                        </div>
                        <div>
                            <h4 class="info_name">Просмотры</h4>
                            <h5 class="info_value">{{ recipe.views }}</h5>
                        </div>
                    </div>
                </div>
                 </a>
            {% endfor %}

        </div>
    </div>
</main>
{% endblock %}