@font-face {
    font-family: 'IntroInline';
    src: url('../fonts/IntroInline/intro-black-inline-caps-webfont.woff2') format('woff2'),
         url('../fonts/IntroInline/intro-black-inline-caps-webfont.woff') format('woff'),
         url('../fonts/IntroInline/Intro-Black-Inline-Caps.ttf') format('ttf');

}

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon/icomoon.eot');
	src:url('../fonts/icomoon/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon/icomoon.woff') format('woff'),
		url('../fonts/icomoon/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
body {
	width: 100%;
	height: 100%;
	background: url(../img/background.jpg);
	background-size: cover;
	background-attachment: fixed;
}

.head_margin {
	margin: 0.1%;
	margin-top: 9px;
}

nav {
	align-items: center;
	margin: 42px;
	margin-left: 10px;
	display: table;
}


nav div {
	-webkit-transition: background 0.5s ease;
	-moz-transition: background 0.5s ease;
	transition: background 0.5s ease;
	height: 59px;
	display: table-cell;
	vertical-align: middle;
	width: 154px;
	color: white;
	text-align: center;
}

img[src="img/pointer_black.png"] {
	display: none;
}
nav div:hover {
	background-color: white;
	cursor: pointer;
	color: black;
}

nav h1{
	font-family: 'IntroInline';
	font-weight: bold;
	font-size: 18pt;

}

.auth {
	margin-top: 50px;
}

.add_recipe {
	display: block;
	margin: 0 30px;
	-webkit-transition: background 0.5s ease;
	-moz-transition: background 0.5s ease;
	transition: background 0.5s ease;
	width: 233px;
	height: 50px;
	border: 3px solid white;
	background: transparent;
	font-family: 'IntroInline';
	font-weight: bold;
	color: white;
	font-size: 18pt;
}

.add_recipe:hover{
   	background-color: #39b54a;
}


button, 
button:active, 
button:focus {
    outline: none;
}

.search{
	background-image: url(../img/search.png);
}

header {
	display: flex;
	padding-top: 5px;
	padding-left: 15px;
	padding-bottom: -5px;
	border-bottom: 7px solid white;
	justify-content: space-between;
}

.navandlogo {
	display: flex;
	width: 70%;
	margin-bottom: 0px;
}

.auth-block {
	margin-right: 1%;
	width: 40%;
	justify-content: flex-end;
}

.auth {
	width: 100%;
	display: flex;
	align-self: top;
	justify-content: flex-end;

}

.profile_top {
	-webkit-transition: background 0.5s ease;
	-moz-transition: background 0.5s ease;
	transition: background 0.5s ease;
	display: flex;
	width: 123px;
}

.profile_top:hover {
	background-color: white;
}

.profile_logo {
	margin-right: 1%;
}

.sb-search {
	position: relative;
	width: 0%;
	min-width: 50px;
	height: 50px;
	float: right;
	overflow: hidden;
	-webkit-transition: width 0.3s;
	-moz-transition: width 0.3s;
	transition: width 0.3s;
	-webkit-backface-visibility: hidden;
}

.sb-search-input {
	position: absolute;
	top: 0;
	right: 0;
	border: none;
	outline: none;
	background: #fff;
	width: 100%;
	height: 60px;
	margin: 0;
	z-index: 10;
	padding: 10px 65px 20px 20px;
	font-family: inherit;
	font-size: 20px;
	color: #2c3e50;
}

.sb-search-input::-webkit-input-placeholder {
	color: #494949;
}

.sb-search-input:-moz-placeholder {
	color: #494949;
}

.sb-search-input::-moz-placeholder {
	color: #494949;
}

.sb-search-input:-ms-input-placeholder {
	color: #494949;
}

.sb-icon-search,
.sb-search-submit  {
	-webkit-transition: background 0.5s ease;
	-moz-transition: background 0.5s ease;
	transition: background 0.5s ease;
	width: 50px;
	height: 50px;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	padding: 0;
	margin: 0;
	line-height: 50px;
	text-align: center;
	cursor: pointer;
}

.sb-search-submit {
	background: #fff; /* IE needs this */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
    filter: alpha(opacity=0); /* IE 5-7 */
    opacity: 0;
	color: transparent;
	border: none;
	outline: none;
	z-index: -1;
}

.sb-icon-search {
	color: black;
	background: transparent;
	z-index: 90;
	font-size: 30px;
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
}

.sb-icon-search:before {
	content: "\e000";
}

/* Open state */
.sb-search.sb-search-open,
.no-js .sb-search {
	width: 40%;
}

.sb-search.sb-search-open .sb-icon-search,
.no-js .sb-search .sb-icon-search {
	background: #39b54a;
	color: #fff;
	z-index: 11;
}

.sb-search.sb-search-open .sb-search-submit,
.no-js .sb-search .sb-search-submit {
	z-index: 90;
}

@media (min-width: 900px) {
	.add_recipe {
		display: none;
	}

	.add_recipe_plus {
		display: block;
		margin-right: 3%;
		margin-left: 2%;
	}
}

@media (min-width: 1200px) {
	.add_recipe {
		display: block;
	}

	.add_recipe_plus {
		display: none;
	}

}

/* SLIDER*/

.slide-viewer{
    position: relative;
    overflow: hidden;
    height: 500px;
    width: 800px;
}

.slide-group{
    width: 100%;
    height: 100%;
    position: relative;
}

.slide{
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
}

.slide:first-child{
    display: block;
}
